{% load static %}

<link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/VilladaLogo.png' %}" alt="" width="50" height="50"
                 class="d-inline-block align-text-center">
            ITS VILLADA
        </a>
        <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-bs-target="#navbarNavDropdown" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a aria-expanded="false" class="nav-link" data-bs-toggle="dropdown" href="#"
                       id="navbarDropdownPresentacion" role="button">
                        Presentacion
                    </a>
                    <ul aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Palabras de Bienvenida</a></li>
                        <li><a class="dropdown-item" href="#">Video Institucional</a></li>
                        <li><a class="dropdown-item" href="#">Quienes Somos</a></li>
                        <li><a class="dropdown-item" href="#">Consigna del Año</a></li>
                        <li><a class="dropdown-item" href="#">Objetivos Institucionales</a></li>
                        <li><a class="dropdown-item" href="#">Nuestros Valores</a></li>
                        <li><a class="dropdown-item" href="#">Nuestra Historia</a></li>
                        <li><a class="dropdown-item" href="#">Convenios con Empresas</a></li>
                        <li><a class="dropdown-item" href="#">Convenios con Universidades</a></li>
                        <li><a class="dropdown-item" href="#">Actividades Institucionales</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a aria-expanded="false" class="nav-link" data-bs-toggle="dropdown" href="#"
                       id="navbarDropdownProyectoEducativoPastoral" role="button">
                        Proyecto Educativo Pastoral
                    </a>
                    <ul aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Propuesta Curricular</a></li>
                        <li><a class="dropdown-item" href="#">Propuesta Pastoral</a></li>
                        <li><a class="dropdown-item" href="#">Proyectos Institucionales</a></li>
                        <li><a class="dropdown-item" href="#">Actividades Educativas y Pastorales</a></li>
                        <li><a class="dropdown-item" href="#">Espacio Juvenil - Autorizacion</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a aria-expanded="false" class="nav-link" data-bs-toggle="dropdown" href="#"
                       id="navbarDropdownEspecialidades" role="button">
                        Especialidades
                    </a>
                    <ul aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Electromecanica</a></li>
                        <li><a class="dropdown-item" href="#">Electronica</a></li>
                        <li><a class="dropdown-item" href="#">Programacion</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a aria-expanded="false" class="nav-link" data-bs-toggle="dropdown" href="#"
                       id="navbarDropdownAlumnos" role="button">
                        Alumnos
                    </a>
                    <ul aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Turnos de Examen</a></li>
                        <li><a class="dropdown-item" href="#">Biblioteca de Consulta de Alumnos</a></li>
                        <li><a class="dropdown-item" href="#">Centro de Estudiantes</a></li>
                        <li><a class="dropdown-item" href="#">Menu Semanal</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script crossorigin="anonymous"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>